/*BEGINNING OF GENERAL ADJUSTMENTS*/
/*#284b63*/
html {
    background-image: url("imgs/background_edited.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Recursive', sans-serif;
    color: #fff8eb;

}

body {
    margin: auto;
    align-content: center;
    text-align: center;
    line-height: 25px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
    text-align: left;
    text-decoration: underline;
}

h3 {
    font-size: 24px;
    text-align: left;
    text-indent: 25px;
}

p {
    text-align: justify;
    font-size: 18px;
}

a {
    color: #fff8eb;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

img {
    width: 40px;
    height: 40px;
}

.ul_noStyle {
    list-style-type: none;
    text-align: left;
}


/*END OF GENERAL ADJUSTMENTS*/

/*BEGINNING OF BARNAV*/
.barnav {
    width: 100%;
    min-width: 100%;
    height: 60px;
    min-height: 60px;
    left: 0;
    top: 0;
    margin: auto;
    position: fixed;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 75%);
}

.barnav ul {
    width: auto;
    height: inherit;
    margin: auto;
    padding-top: 5px;
}

.barnav li {
    width: 120px;
    height: 75px;
    float: left;
    margin-top: 15px;
    margin-left: 5%;
    text-align: left;
    vertical-align: middle;
}

#logo {
    width: 40px;
    height: auto;
    padding: 8px 0px 0px 10px;
    float: left;
}

/*END OF BARNAV*/

/*BEGINNING OF CONTENT*/
.content {
    height: 100%;
    margin: 10px;
    margin-top: 70px;
    padding: 5px;
    align-content: center;
    text-align: center;
    border: solid 1px #fff8eb;
}

/*BEGINNING OF BLOCK*/
.block {
    margin: auto;
    padding-top: 40px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 35px;
}

#myImg {
    width: 15%;
    min-width: 120px;
    height: auto;
    border: solid 2px #fff8eb;
    border-radius: 20px;
}


/*BEGINNING OF PROJECTS*/
.projects ul {
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.projImgs {
    width: 50%;
    height: auto;
    margin-top: 10px;
    border: solid 2px #fff8eb;
    border-radius: 5px;
}

.projImgs:hover {
    transform: translateY(-10px);
}

.info {
    width: 12px;
    height: auto;
    vertical-align: middle;
    margin-bottom: 5px;
}

.imgComment {
    font-size: 12px;
    opacity: 90%;
}

#tictactoe {
    max-width: 500px;
}

/*END OF PROJECTS*/

/*BEGINNING OF INTERESTING LINKS*/
.intLinks {
    text-align: left;
}

.intLinks ul {
    list-style-type: none;
}

.intLinks a {
    display: inline-block;
    margin-bottom: 15px;
    vertical-align: middle;
    height: 32px;
}

.intLinks img {
    width: 32px;
    height: auto;
    margin: auto 10px auto auto;
}

/*END OF INTERESTING LINKS*/

/*BEGINNING OF CONTACT*/
.contact {
    text-align: left;
}

.contact p {
    width: auto;
    height: 25px;
    text-align: left;
}

#imgMail {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    vertical-align: middle;
}

/*END OF CONTACT*/

/*END OF BLOCK*/

/*END OF CONTENT*/

/*BEGINNING OF FOOTER*/
.footer {
    width: 100%;
    height: 150px;
    position: static;
    bottom: 0px;
    margin: 0px;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 75%);

}

.footer p {
    align-content: center;
    text-align: center;
    font-size: 10px;
    opacity: 75%;

}

/*END OF FOOTER*/

/*BEGINNING OF MEDIA ADJUSTMENTS*/
@media only screen and (max-width: 646px) {
    .barnav {
        height: 250px;
    }

    .content {
        margin-top: 150px;
    }

    .link {
        display: block;
        padding-top: 200px;
        margin-top: -200px;
    }

    .projImgs {
        width: 95%;
        height: auto;
    }
}

@media only screen and (min-witdh:646px) and (max-width: 768px) {
    .barnav {
        height: 150px;
    }

    .link {
        display: block;
        padding-top: 100px;
        margin-top: -100px;
    }
}


/*END OF MEDIA ADJUSTMENTS*/